@media only screen and (min-width: 200px) and (max-width: 320px) {
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 90%;
    margin: 30px;
  }

  .about {
    display: inline-block;
    margin: 20px 0;
  }

  .about p {
    font-size: 0.9em;
    margin-bottom: 10px;
    line-height: normal;
    text-align: left;
    font-weight: 500;
  }

  .experience-list {
    margin: 20px 0px;
  }

  .experience {
    display: inline-block;
    margin: 10px 0;
    border-bottom: 1px solid;
  }

  .experience .title {
    margin: 10px 0;
  }

  .experience .title .company {
    font-size: 1.1em;
    font-weight: 700;
    margin-right: 10px;
  }

  .experience .title .company-site {
    font-size: 0.75em;
  }

  .experience .period {
    font-size: 0.9em;
  }

  .experience .location {
    font-size: 0.9em;
  }

  .experience .description {
    margin: 10px 0;
  }

  .experience .description p {
    font-size: 0.8em;
    line-height: normal;
    font-weight: 600;
  }
}
